/* @import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap'); */
* {
  scroll-behavior: smooth;
}
body {
  position: relative;
}
.App {
  background-color: rgb(29, 29, 29);
}
/* Navbar Css Area  */
.navbar_css {
  /* border: 1px solid yellow; */
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgb(43, 42, 42);
  z-index: 10;
}
.navbar_css > div {
  height: 70px;
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}
.navbar_css > div > div:nth-child(1) {
  /* border: 1px solid black; */
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 6px;
  width: 200px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.navbar_css > div > div:nth-child(1) > img {
  animation: 2s spinBulb infinite;
  overflow: hidden;
  border-radius: 50%;
}
.navbar_css > div > div:nth-child(1) > img:hover {
  border: 1px solid linear-gradient(180deg, red, yellow);
  cursor: pointer;
}

.navbar_css > div > div:nth-child(2) {
  /* border: 2px solid black; */
  justify-content: space-between;
  border-radius: 5px;
  transition: all 1s ease-in-out;
}
.navbar_css > div > div:nth-child(2) > div > a {
  font-weight: 600;
  text-decoration: none;
}

.navbar_css > div > div:nth-child(2) > div {
  padding: 5px 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  color: #fff;
  background: rgb(43, 42, 42);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 5px;
}
.navbar_css > div > div:nth-child(2) > div:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(1px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 5px;
}
.navbar_css > div > div:nth-child(2) > div:active {
  color: #000;
}
.navbar_css > div > div:nth-child(2) > div:active:after {
  background: transparent;
}
.navbar_css > div > div:nth-child(2) > div:hover:before {
  opacity: 1;
}

.navbar_css > div > div:nth-child(2) > div:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(43, 42, 42);
  left: 0;
  top: 0;
  border-radius: 5px;
}

.drawer {
  height: fit-content;
  background-color: rgb(29, 29, 29) !important;
  width: fit-content !important ;
  color: white !important;
  border-radius: 0 0 0 10px;
}

.drawer > button {
  top: 25px;
}
.drawer > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  line-height: 70px;
  margin-top: 50px;
  width: 150px;
}

/* Home Css Area  */
.home_css {
  overflow-x: hidden;
  max-width: 95%;
  margin: auto;
  position: relative;
}
.home_css > div:nth-child(1) {
  display: flex;
  /* border: 5px solid red; */
  justify-content: space-between;
  height: 90vh;
}

.home_css > div:nth-child(1) > div:nth-child(1) {
  width: 50%;
  /* border: 1px solid yellow; */
  display: flex;
  align-items: center;
}

.home_css > div:nth-child(1) > div:nth-child(2) {
  width: 50%;
  /* border: 1px solid yellow; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home_css > div:nth-child(1) > div:nth-child(2) > div:first-child {
  display: flex;
  gap: 10px;
  font-size: 35px;
}
.home_css
  > div:nth-child(1)
  > div:nth-child(2)
  > div:first-child
  > p:first-child {
  font-weight: 600;
  color: rgb(206, 212, 226);
}
.home_css
  > div:nth-child(1)
  > div:nth-child(2)
  > div:first-child
  > p:last-child {
  color: rgb(103, 77, 137);
}

.home_css > div:nth-child(1) > div:nth-child(2) > div:last-child {
  color: rgb(206, 212, 226);
  text-align: center;
  font-size: 14px;
}

.home-about_me_css {
  /* border: 10px solid blue; */
  /* height: 100vh; */
  position: relative;
}
.home-about_me_css > div:nth-child(1) {
  position: relative;
  /* border: 10px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 35px;
  padding: 80px 0;
}
.home-about_me_css > div:nth-child(1) > p:first-child {
  font-weight: 600;
  color: rgb(206, 212, 226);
}
.home-about_me_css > div:nth-child(1) > p:last-child {
  color: rgb(103, 77, 137);
}

.home-about_me_css > div:nth-child(2) {
  /* border: 1px solid blue; */
  display: flex;
  /* height: 60vh; */
  justify-content: space-between;
  padding: 100px 0;
}

.home-about_me_css > div:nth-child(2) > div:nth-child(1) {
  width: 48%;
  /* border: 3px solid yellow; */
  display: flex;
  justify-content: center;
  text-align: justify;
  align-items: center;
  color: rgb(149, 139, 128);
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
}
.home-about_me_css > div:nth-child(2) > div:nth-child(2) {
  width: 48%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
}

.home-about_me_css > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
  border-radius: 50%;
  /* border: 1px solid blue; */
  height: 200px;
  width: 200px;
  overflow: hidden;
}

.home-about_me_css
  > div:nth-child(2)
  > div:nth-child(2)
  > div:nth-child(1)
  > img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  transition: all 3s ease-in-out;
  overflow: hidden;
}
.home-about_me_css
  > div:nth-child(2)
  > div:nth-child(2)
  > div:nth-child(1)
  > img:hover {
  transform: scale(1.3);
}

.home-about_me_css > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
  letter-spacing: 5px;
  text-align: center;
  color: rgb(149, 139, 128);
  margin-top: 10px;
}

/* HOME PAGE SKILLS SECTION  */

.home-skills_container_css {
  position: relative;
  /* border: 2px solid blue; */
  /* height: 100vh; */
}
.home-skills_container_css > :nth-child(1) {
  display: flex;
  font-size: 35px;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}
.home-skills_container_css > :nth-child(1) > p:first-child {
  font-weight: 600;
  color: rgb(206, 212, 226);
}
.home-skills_container_css > :nth-child(1) > p:last-child {
  color: rgb(103, 77, 137);
}

/* HOME PAGE SKILLS SECTION 
FIRST CHILD CSS
*/
/* .home-skills_boxes_css { */
/* display: flex; */
/* } */
.home-skills_boxes_css > div:nth-child(1) {
  position: relative;
  /* border: 2px solid green; */
  width: 100%;
}
.home-skills_boxes_css > div:nth-child(1) > div:nth-child(1) {
  position: relative;
  /* border: 10px solid blue; */
  width: 100%;
  height: 150px;
  /* background-color: yellow; */
}
.home-skills_boxes_css > div:nth-child(1) > div:nth-child(2) {
  position: relative;
  height: 150px;
}
.home-skills_boxes_css > div:nth-child(1) > div:nth-child(3) {
  position: relative;
  height: 150px;
}

.home-skills_boxes_css > div:nth-child(2) {
  position: relative;
  /* border: 2px solid blue; */
  width: 50%;
}

/* HOME PAGE SKILLS SECTION 
SECOND CHILD CSS
*/

.home-skills_boxes_css > div:nth-child(2) {
  position: relative;
  /* border: 2px solid blue !important; */
  /* width: 00%; */
  height: 400px;
  /* background-color: pink; */
}

.home-skills_boxes_css ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  margin: 0;
  padding: 0;
  gap: 40px;
}

.home-skills_boxes_css ul li {
  list-style: none;
  margin: 0 5px;
}

.home-skills_boxes_css ul li a .fa {
  font-size: 40px;
  color: #662626;
  line-height: 80px;
  transition: 0.5s;
  padding-right: 14px;
}

.home-skills_boxes_css ul li a span {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 30px;
  color: #262626;
  letter-spacing: 4px;
  transition: 0.5s;
}

.home-skills_boxes_css ul li a {
  text-decoration: none;
  display: absolute;
  display: block;
  width: 250px;
  height: 80px;
  background: #fff;
  text-align: left;
  padding-left: 10px;
  transform: rotate(-30deg) skew(25deg) translate(0, 0);
  transition: 0.5s;
  box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
}
.home-skills_boxes_css ul li a:before {
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #b1b1b1;
  transform: 0.5s;
  transform: rotate(0deg) skewY(-45deg);
}
.home-skills_boxes_css ul li a:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #b1b1b1;
  transform: 0.5s;
  transform: rotate(0deg) skewX(-45deg);
}

.home-skills_boxes_css ul li a:hover {
  transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, 1);
}

.home-skills_boxes_css ul li:hover .fa {
  color: #fff;
}

.home-skills_boxes_css ul li:hover span {
  color: #fff;
}

.home-skills_boxes_css ul li a > i > svg {
  width: 50px;
  height: 50px;
  margin-top: 12px;
}

/* test css  */
.home-skills_boxes_css > div > div:nth-child(1) ul li:hover:nth-child(1) a {
  background: #ef6326;
}
.home-skills_boxes_css
  > div
  > div:nth-child(1)
  ul
  li:hover:nth-child(1)
  a:before {
  background: #aa471d;
}
.home-skills_boxes_css
  > div
  > div:nth-child(1)
  ul
  li:hover:nth-child(1)
  a:after {
  background: #bd5428;
}

.home-skills_boxes_css > div > div:nth-child(1) ul li:hover:nth-child(2) a {
  background: #3597d4;
}
.home-skills_boxes_css
  > div
  > div:nth-child(1)
  ul
  li:hover:nth-child(2)
  a:before {
  background: #365492;
}
.home-skills_boxes_css
  > div
  > div:nth-child(1)
  ul
  li:hover:nth-child(2)
  a:after {
  background: #4a69ad;
}

.home-skills_boxes_css > div > div:nth-child(1) ul li:hover:nth-child(3) a {
  background: #f1df1b;
}
.home-skills_boxes_css
  > div
  > div:nth-child(1)
  ul
  li:hover:nth-child(3)
  a:before {
  background: #cebf18;
}
.home-skills_boxes_css
  > div
  > div:nth-child(1)
  ul
  li:hover:nth-child(3)
  a:after {
  background: #f5e640;
}

.home-skills_boxes_css > div > div:nth-child(1) ul li:hover:nth-child(4) a {
  background: #6bc8cd;
}
.home-skills_boxes_css
  > div
  > div:nth-child(1)
  ul
  li:hover:nth-child(4)
  a:before {
  background: #6a9c9e;
}
.home-skills_boxes_css
  > div
  > div:nth-child(1)
  ul
  li:hover:nth-child(4)
  a:after {
  background: #77b3b6;
}
.home-skills_boxes_css
  > div
  > div:nth-child(1)
  ul
  li:hover:nth-child(4)
  a
  > i
  > svg
  > g
  > circle {
  fill: white !important;
}
.home-skills_boxes_css
  > div
  > div:nth-child(1)
  ul
  li:hover:nth-child(4)
  a
  > i
  > svg
  > g
  > path {
  fill: #6bc8cd !important;
}

/* second child  */
.home-skills_boxes_css > div > div:nth-child(2) ul li:hover:nth-child(1) a {
  background: #49d4fd;
}
.home-skills_boxes_css
  > div
  > div:nth-child(2)
  ul
  li:hover:nth-child(1)
  a:before {
  background: #3395b3;
}
.home-skills_boxes_css
  > div
  > div:nth-child(2)
  ul
  li:hover:nth-child(1)
  a:after {
  background: #359dbd;
}

.home-skills_boxes_css > div > div:nth-child(2) ul li:hover:nth-child(2) a {
  background: #8ac400;
}
.home-skills_boxes_css
  > div
  > div:nth-child(2)
  ul
  li:hover:nth-child(2)
  a:before {
  background: #608a00;
}

.home-skills_boxes_css
  > div
  > div:nth-child(2)
  ul
  li:hover:nth-child(2)
  a:after {
  background: #608a00;
}

.home-skills_boxes_css > div > div:nth-child(2) ul li:hover:nth-child(3) a {
  background: #7dc280;
}
.home-skills_boxes_css
  > div
  > div:nth-child(2)
  ul
  li:hover:nth-child(3)
  a:before {
  background: #517e52;
}
.home-skills_boxes_css
  > div
  > div:nth-child(2)
  ul
  li:hover:nth-child(3)
  a:after {
  background: #507e52;
}

.home-skills_boxes_css > div > div:nth-child(2) ul li:hover:nth-child(4) a {
  background: #fec828;
}
.home-skills_boxes_css
  > div
  > div:nth-child(2)
  ul
  li:hover:nth-child(4)
  a:before {
  background: #b9921d;
}
.home-skills_boxes_css
  > div
  > div:nth-child(2)
  ul
  li:hover:nth-child(4)
  a:after {
  background: #be961d;
}
.home-skills_boxes_css
  > div
  > div:nth-child(2)
  ul
  li:hover:nth-child(4)
  a
  > i
  > svg
  > path {
  fill: white !important;
}

/* third child  */

.home-skills_boxes_css > div > div:nth-child(3) ul li:hover:nth-child(1) a {
  background: #323230;
}
.home-skills_boxes_css
  > div
  > div:nth-child(3)
  ul
  li:hover:nth-child(1)
  a:before {
  background: #272725;
}
.home-skills_boxes_css
  > div
  > div:nth-child(3)
  ul
  li:hover:nth-child(1)
  a:after {
  background: #252524;
}
.home-skills_boxes_css
  > div
  > div:nth-child(3)
  ul
  li:hover:nth-child(1)
  a
  > i
  > svg {
  fill: white !important;
}

.home-skills_boxes_css > div > div:nth-child(3) ul li:hover:nth-child(2) a {
  background: #2774c2;
}
.home-skills_boxes_css
  > div
  > div:nth-child(3)
  ul
  li:hover:nth-child(2)
  a:before {
  background: #1d5791;
}
.home-skills_boxes_css
  > div
  > div:nth-child(3)
  ul
  li:hover:nth-child(2)
  a:after {
  background: #1c5186;
}
.home-skills_boxes_css
  > div
  > div:nth-child(3)
  ul
  li:hover:nth-child(2)
  a
  > i
  > svg
  > rect {
  fill: white !important;
}
.home-skills_boxes_css
  > div
  > div:nth-child(3)
  ul
  li:hover:nth-child(2)
  a
  > i
  > svg
  > path {
  fill: #1d5791 !important;
}

.home-skills_boxes_css > div > div:nth-child(3) ul li:hover:nth-child(3) a {
  background: black;
}
.home-skills_boxes_css
  > div
  > div:nth-child(3)
  ul
  li:hover:nth-child(3)
  a:before {
  background: black;
}
.home-skills_boxes_css
  > div
  > div:nth-child(3)
  ul
  li:hover:nth-child(3)
  a:after {
  background: black;
}

.home-skills_boxes_css
  > div
  > div:nth-child(3)
  ul
  li:hover:nth-child(3)
  a
  > i
  > svg {
  fill: white !important;
}

.home-skills_boxes_css > div > div:nth-child(3) ul li:hover:nth-child(4) a {
  background: #764abb;
}
.home-skills_boxes_css
  > div
  > div:nth-child(3)
  ul
  li:hover:nth-child(4)
  a:before {
  background: #503380;
}
.home-skills_boxes_css
  > div
  > div:nth-child(3)
  ul
  li:hover:nth-child(4)
  a:after {
  background: #57378a;
}

.home-skills_boxes_css
  > div
  > div:nth-child(3)
  ul
  li:hover:nth-child(4)
  a
  > i
  > svg
  > path {
  fill: white !important;
}

/* SKILL CSS WHEN THE PIXEL ARE LESSTHAN 1200PX */
.home-skills_small_screen {
  position: relative;
  /* border: 11px solid blue; */
  display: flex;
  justify-content: space-between;
  gap: 10px;
  display: none;
}

.home-skills_small_screen > div:nth-child(1) {
  width: 48%;
  /* border: 1px solid yellow; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 20px;
  /* background-color: yellow; */
}

.home-skills_small_screen > div:nth-child(1) > div {
  /* border: 1px solid yellow; */
  display: flex;
  height: 50px;
  align-items: center;
  border-radius: 10px;
  padding: 30px 5px;
  /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
  animation: skillsGlow 3s ease-in-out infinite;
}

.home-skills_small_screen > div:nth-child(1) > div > p {
  margin-left: 10px;
}
.home-skills_small_screen > div:nth-child(1) > div > div {
  /* border: 1px solid yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
}

.home-skills_small_screen > div:nth-child(2) {
  width: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(149, 139, 128);
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  /* background-color: #002bff; */
}

/*? TODO: PROJECT SECTION CSS */
.home-projects_container_css {
  /* border: 1px solid blue; */
  /* height: 100vh; */
  position: relative !important;
}
.home-projects_container_css > div:nth-child(1) {
  /* border: 1px solid yellow; */
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
}
.home-projects_container_css > div:nth-child(1) > p:first-child {
  color: rgb(206, 212, 226);
  font-weight: 600;
}
.home-projects_container_css > div:nth-child(1) > p:last-child {
  color: rgb(103, 77, 137);
}
.home-projects_container_css > div:nth-child(2) {
  /* border: 1px solid yellow; */
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 50px 50px;
  justify-content: center;
  position: relative;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 70vh;
  --card-width: calc(var(--card-height) / 0.9);
}

.home-projects_container_css > div:nth-child(2) > div {
  all: initial;
  position: relative;
  height: var(--card-height);
  width: var(--card-width);
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  animation: spin 2.5s linear infinite;
}

.home-projects_container_css > div:nth-child(2) > div > div {
  position: absolute;
  width: 98%;
  height: 98%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 8px;
  /* background: #674d89; */
  background: rgb(29, 29, 29);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.home-projects_container_css > div:nth-child(2) > div > div > div:nth-child(1) {
  height: 58%;
  width: 100%;
  /* border: 2px solid blue; */
  background-position: top !important;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% !important;
  border-radius: 5px;
  transition: all 4s ease-in-out;
}
.home-projects_container_css
  > div:nth-child(2)
  > div
  > div
  > div:nth-child(1):hover {
  background-position: bottom !important;
}

.home-projects_container_css > div:nth-child(2) > div > div > p:nth-child(2) {
  padding: 10px;
  color: rgb(206, 212, 226);
  font-weight: 600;
  font-size: 20px;
}

.home-projects_container_css > div:nth-child(2) > div > div > div:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  font-weight: 600;
}
.home-projects_container_css
  > div:nth-child(2)
  > div
  > div
  > div:nth-child(3)
  > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  color: rgb(206, 212, 226);
  padding: 10px;
  background-color: rgb(43, 42, 42);
  border-radius: 5px;
  text-decoration: none;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}
.home-projects_container_css > div:nth-child(2) > div > div > div:nth-child(4) {
  /* border: 5px solid yellow; */
  height: 100px;
  width: 100%;
}
.home-projects_container_css
  > div:nth-child(2)
  > div
  > div
  > div:nth-child(4)
  > div {
  display: flex;
  margin: 5px 0;
  align-items: center;
  gap: 10px;
}
.home-projects_container_css
  > div:nth-child(2)
  > div
  > div
  > div:nth-child(4)
  > div
  > button:nth-child(1) {
  border: yellow !important;
  width: 100px !important;
  color: rgb(206, 212, 226);
  padding: 10px;
  background-color: rgb(43, 42, 42);
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}
.home-projects_container_css
  > div:nth-child(2)
  > div
  > div
  > div:nth-child(4)
  > div
  > div:nth-child(2) {
  border: 0.5px solid #2b2a2a !important;
  border-radius: 5px;
  padding: 5px;
  width: 80%;
  height: 40px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  color: #ced4e2;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}
.home-projects_container_css
  > div:nth-child(2)
  > div
  > div
  > div:nth-child(4)
  > div
  > div:nth-child(2)
  > div {
  display: flex;
  width: 120px;
  height: 30px;
  gap: 10px;
  padding: 10px;
  /* border: 1px solid blue; */
  border-radius: 5px;
  align-items: center;
  background-color: #2b2a2a;
}
::-webkit-scrollbar {
  width: 5px;
}

.home-contect_me_container_css {
  position: relative;
}
.home-contect_me_container_css > div:nth-child(1) {
  display: flex;
  justify-content: center;
  color: white;
  padding: 80px 0;
  font-size: 35px;
}
.home-contect_me_container_css > div:nth-child(1) > p:first-child {
  font-weight: 600;
  color: rgb(206, 212, 226);
}
.home-contect_me_container_css > div:nth-child(1) > p:last-child {
  color: rgb(103, 77, 137);
}

.home-contect_me_container_css > div:nth-child(2) {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.home-contect_me_container_css > div:nth-child(2) > div {
  width: 48%;
  background-color: #2b2a2a;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
}
.home-contect_me_container_css > div:nth-child(2) > div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-contect_me_container_css > div:nth-child(2) > div:nth-child(2) {
  color: rgb(206, 212, 226);
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.home-contect_me_container_css
  > div:nth-child(2)
  > div:nth-child(2)
  > div:nth-child(1) {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  border-bottom: 3px solid rgb(103, 77, 137);
}
.home-contect_me_container_css
  > div:nth-child(2)
  > div:nth-child(2)
  > form:nth-child(2) {
  width: 70%;
}
.home-contect_me_container_css
  > div:nth-child(2)
  > div:nth-child(2)
  > form:nth-child(2)
  > div {
  position: relative;
  margin: 20px 0;
}

.home-contect_me_container_css
  > div:nth-child(2)
  > div:nth-child(2)
  > form:nth-child(2)
  > div
  > input {
  height: 40px !important;
}
.home-contect_me_container_css
  > div:nth-child(2)
  > div:nth-child(2)
  > form:nth-child(2)
  > div
  > span {
  position: absolute;
  left: 15px;
  top: 8px;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.home-contect_me_container_css
  > div:nth-child(2)
  > div:nth-child(2)
  > form:nth-child(2)
  > div
  > input:focus
  ~ span,
.home-contect_me_container_css
  > div:nth-child(2)
  > div:nth-child(2)
  > form:nth-child(2)
  > div
  > input:not(:placeholder-shown)
  ~ span,
.home-contect_me_container_css
  > div:nth-child(2)
  > div:nth-child(2)
  > form:nth-child(2)
  > div
  > textarea:focus
  ~ span,
.home-contect_me_container_css
  > div:nth-child(2)
  > div:nth-child(2)
  > form:nth-child(2)
  > div
  > textarea:not(:placeholder-shown)
  ~ span {
  top: -12px;
  font-size: 14px;
  background-color: #2b2a2a;
  z-index: 1;
  /* color: #2b2a2a; */
  border-radius: 5px;
}

/* Footer Section Css  */

.home-footer{
  /* border:2px solid blue; */
  position: relative;
  color: rgb(206, 212, 226) !important;
  background-color: #2b2a2a;
  margin-top: 20px;
  border-radius: 5px 5px 0 0;
}
.home-footer > div:nth-child(1){
  color: rgb(206, 212, 226);
  height: 100px;
  font-size: 35px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-footer > div:nth-child(2){
/* border: 3px solid blue; */
font-size: 20px;
/* height: 300px; */
/* width: 100%; */
}
.home-footer > div:nth-child(2) > a{
  text-decoration: none !important;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}


.home-footer 
>div:nth-child(3) {
  position: relative;
  height: 100px;
 
}
.home-footer 
>div:nth-child(3) > ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
}

.home-footer 
>div:nth-child(3) > ul li {
  list-style: none;
}

.home-footer 
>div:nth-child(3) > ul li a {
  position: relative;
  width: 60px;
  height: 60px;
  display: block;
  text-align: center;
  margin: 0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: 0.5s;
}

.home-footer 
>div:nth-child(3) > ul li a:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.home-footer 
>div:nth-child(3) > ul li a .fab {
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 24px;
  color: #262626;
  transition: 0.5s;
}

.home-footer 
>div:nth-child(3)  > ul li:nth-child(1) a:hover .fab {
  color: #3b5998;
}

.home-footer 
>div:nth-child(3)  > ul li:nth-child(2) a:hover .fab {
  color: #00aced;
}

.home-footer 
>div:nth-child(3)  > ul li:nth-child(3) a:hover .fab {
  color: #dd4b39;
}

.home-footer 
>div:nth-child(3)  > ul li:nth-child(4) a:hover .fab {
  color: #007bb6;
}

.home-footer 
>div:nth-child(3)  > ul li:nth-child(5) a:hover .fab {
  color: #e4405f;
}


.home-goto_top{
  position: fixed;
  bottom: 14px;
  right: 2.5%;
}
.home-goto_top > span{
  position: absolute;
  top: 9px;
  right: 9px;
  background-color: #1d1d1d;
  height: 52px;
  width: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}
.home-goto_top > span > img{
height: 45px;
width: 45px;
border-radius: 50%;
}
.loader {
  position: relative;
  width: 70px;
  height: 70px;
  background: linear-gradient(#00FF00, #00FF00, #00FF00);
  animation: animate 1s linear infinite;
  background: transparent;
}




@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader span {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: linear-gradient(#00b2ff, #00ffbb, #6bff6b);
}

.loader span:nth-child(1) {
  filter: blur(5px);
}

.loader span:nth-child(2) {
  filter: blur(10px);
}

.loader::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #162434;
  border-radius: 50%;
}


/* GITHUB SECTION  */
.home-github_container_css{
  border:3px solid blue;
  position: relative;
}
.home-github_container_css > div:nth-child(1){
  padding: 80px 0;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}
.home-github_container_css >div:nth-child(1) > p:first-child{
  font-weight: 600;
  color: rgb(206, 212, 226);
}
.home-github_container_css >div:nth-child(1) > p:last-child{
  color: rgb(103, 77, 137);
}
.home-github_child{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* RESPONSIVENESS  */
@media only screen and (max-width: 765px) {
  .home_css > div:nth-child(1) {
    transition: all 2s ease-in-out;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
    justify-content: space-evenly;
    height: 60vh;
  }
  .home_css > div:nth-child(1) > div:nth-child(1) {
    width: 90%;
  }
  .home_css > div:nth-child(1) > div:nth-child(2) {
    width: 90%;
  }
  .home_css > div:nth-child(1) > div:nth-child(2) > div:first-child {
    font-size: 25px;
  }
  .home_css > div:nth-child(1) > div:nth-child(2) > div:last-child {
    font-size: 12px;
  }

  /* This is the Home page ABOUT ME CSS */

  .home-about_me_css > div:nth-child(1) {
    padding: 30px 0;
    font-size: 25px;
  }

  .home-about_me_css > div:nth-child(2) {
    flex-direction: column-reverse;
    align-items: center;
  }
  .home-about_me_css > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
    width: 100px;
    height: 100px;
    /* border: 1px solid red; */
  }
  .home-about_me_css
    > div:nth-child(2)
    > div:nth-child(2)
    > div:nth-child(1)
    > img {
    width: 100px;
    height: 100px;
  }

  .home-about_me_css > div:nth-child(2) {
    gap: 20px;
  }

  .home-about_me_css > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
    font-size: 12px;
  }
  .home-about_me_css > div:nth-child(2) > div:nth-child(2) {
    width: 100%;
  }
  .home-about_me_css > div:nth-child(2) > div:nth-child(2) > p {
    /* border: 1px soild blue; */
    width: 100%;
  }

  .home-about_me_css > div:nth-child(2) > div:nth-child(1) {
    width: 100%;
  }
  .home-about_me_css > div:nth-child(2) > div:nth-child(2) {
    display: flex;
    /* border: 2px solid blue; */
    flex-direction: row;
  }

  /* SKILLS SECTION RESPONSIVENESS */
  .home-skills_container_css {
    transition: all 2s ease-in-out;
    height: fit-content;
    padding: 0 0 30px 0;
  }
  .home-skills_container_css > div:nth-child(1) {
    padding: 30px 0;
    font-size: 25px;
  }
  .home-skills_small_screen > div:nth-child(1) {
    width: 100%;
  }
  .home-skills_small_screen > div:nth-child(1) > div {
    padding: 20px 5px;
  }
  .home-skills_small_screen > div:nth-child(1) > div > div {
    height: 30px;
    width: 30px;
  }
  .home-skills_small_screen > div:nth-child(2) {
    display: none;
  }

  .home-projects_container_css > div:nth-child(1) {
    font-size: 25px;
  }

  /* CONTECT ME RESPONSIVENESS */
  .home-contect_me_container_css > div:nth-child(1) {
    font-size: 25px;
  }
  .home-contect_me_container_css > div:nth-child(2) > div:nth-child(1) {
    display: none;
  }
  .home-contect_me_container_css > div:nth-child(2) > div:nth-child(2) {
    width: 100%;
  }
  .home-contect_me_container_css
    > div:nth-child(2)
    > div:nth-child(2)
    > form:nth-child(2) {
    width: 100%;
  }
  .home-contect_me_container_css > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
    font-size: 25px;
  }

}

@media only screen and (max-width: 900px) {
  .home-skills_boxes_css {
    display: none;
  }
  .home-skills_small_screen {
    display: block;
    display: flex;
  }
}
@media only screen and (max-width: 1180px) {
  /* SKILLS SECTION RESPONSIVENESS */
  .home-skills_boxes_css ul {
    gap: 0px;
  }

  .home-skills_boxes_css ul li a {
    width: 200px;
    height: 60px;
  }
  .home-skills_boxes_css ul li a span {
    /* border: 2px solid red; */
    top: 18px;
    font-size: 14px;
  }

  .home-skills_boxes_css ul li a .fa {
    /* position: absolute; */
    margin-top: -5px;
    font-size: 35px;
  }
  .home-skills_boxes_css ul li a i > svg {
    height: 40px !important;
    width: 40px !important;
  }

  :root {
    --card-height: 70vh;
    --card-width: calc(var(--card-height) / 0.9);
  }
  .home-projects_container_css
    > div:nth-child(2)
    > div
    > div
    > div:nth-child(1) {
    height: 52%;
  }
}

@keyframes sideBar_animation {
}

@keyframes spinBulb {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes skillsGlow {
  0% {
    box-shadow: rgb(29, 29, 29) 0px 2px 4px, rgb(29, 29, 29) 0px 7px 13px -3px,
      rgb(29, 29, 29) 0px -3px 0px inset;
  }

  50% {
    box-shadow: rgb(103, 77, 137, 0.4) 0px 2px 4px,
      rgba(103, 77, 137, 0.3) 0px 7px 13px -3px,
      rgba(103, 97, 137, 0.2) 0px -3px 0px inset;
  }
  100% {
    box-shadow: rgb(29, 29, 29) 0px 2px 4px, rgb(29, 29, 29) 0px 7px 13px -3px,
      rgb(29, 29, 29) 0px -3px 0px inset;
  }
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
